:root{
    --main-bg : hsl(0, 8%, 90%);
    --tog-bg: hsl(0, 5%, 81%);
    --screen-bg: hsl(0, 0%, 93%);
    --key-bg-1: hsl(185, 42%, 37%);
    --key-bg-1-s: hsl(185, 58%, 25%);
    --key-bg-2: hsl(25, 98%, 40%);
    --key-bg-2-s: hsl(25, 99%, 27%);
    --key-bg-3: hsl(45, 7%, 89%) ;
    --key-bg-3-s: hsl(35, 11%, 61%);
    --text1: hsl(60, 10%, 19%);
    --text2: hsl(0, 0%, 100%);
    --text3: hsl(60, 10%, 19%);
    --e-text:hsl(0, 0%, 100%);

}