:root{
    --main-bg : hsl(268, 75%, 9%);
    --tog-bg: hsl(268, 71%, 12%);
    --screen-bg: hsl(268, 71%, 12%);
    --key-bg-1: hsl(281, 89%, 26%);
    --key-bg-1-s: hsl(285, 91%, 52%);
    --key-bg-2: hsl(176, 100%, 44%);
    --key-bg-2-s: hsl(177, 92%, 70%);
    --key-bg-3: hsl(268, 47%, 21%);
    --key-bg-3-s: hsl(290, 70%, 36%);
    --text1: hsl(52, 100%, 62%);
    --text2: hsl(0, 0%, 100%);
    --text3: hsl(52, 100%, 62%);
    --e-text:hsl(198, 20%, 13%);

}
